<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <div class="field">
            <label for="km">KM</label>
            <input type="number" class="input" v-model="km" placeholder="input km">
        </div>
        <div class="field">
            <label for="m">Meter</label>
            <input type="number" class="input" v-model="m" placeholder="input m">
        </div>

        <h1>
                WATCHERS VS. COMPUTED PROPERTIES

        </h1>

    </div><!-- /#app -->
    <script src="https://unpkg.com/vue"></script>
    <script src="/js/10-WATCHERS.js"></script>
</body>
</html>

